<%= form_with(model: note_feature, local: true) do |form| %>
  <% if note_feature.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(note_feature.errors.count, "error") %> prohibited this note_feature from being saved:</h2>

      <ul>
        <% note_feature.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :type %>
    <%= form.text_field :type %>
  </div>

  <div class="field">
    <%= form.label :value %>
    <%= form.text_field :value %>
  </div>

  <div class="field">
    <%= form.label :text_idx %>
    <%= form.number_field :text_idx %>
  </div>

  <div class="field">
    <%= form.label :progress_note_id %>
    <%= form.text_field :progress_note_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
